.container {
  font-family: 'Lato';
  font-size: 24px;
  display: flex;
  justify-content: space-between;
  color: #3C64B1;
  background-color: rgb(224, 230, 242);
  height: 88px;
  width: 100%;
  align-items: center;

}

.title {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 50px;
  cursor: pointer;
}



.list {
  list-style-type: none;
  font-size: 14px;
  display: flex;
  flex-direction: row;
  color: #373F41;
  justify-content: space-evenly;
  align-items: center;
  padding-right: 50px;

}
.clicked {
  color: var(--blue)
}

.unclicked {
  color: var(--black)
}

.hamburgerMenu {
  display: none;
  cursor: pointer;
  margin-right: 50px;

}

.slice {
  display: none;
  width: 50px;
  background-color: var(--blue);
  margin: 5px;
  height: 5px;
  border-radius: 2px;
  opacity: 1;

}


.hidden {
  display: none;
}


@media (max-width: 600px) {


.hamburgerMenu {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  transition: all 0.3s linear;
  position: relative;
  transform-origin: 1px;
  cursor: pointer;
}

.slice {
  display: inline;
  width: 50px;
  background-color: var(--blue);
  margin: 5px;
  height: 5px;
  border-radius: 2px;
  opacity: 1;

}

.hamburgerMenuClicked {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  margin-right: 50px;
  transition: all 0.3s linear;
  transform-origin: 1px;
  cursor: pointer;
}

  .mobileList {
      font-family: 'Mulish', sans-serif;
      list-style-type: none;
      text-align: left;
      display: flex;
      flex-direction: column;
      color: var(--black);
      justify-content: space-evenly;
      /* align-items: center; */
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      border-radius: 5px;
      transition:   0.5s;
      background-color: whitesmoke;
      font-size: 30px;
      text-decoration: none;
      height: 100vh;
      z-index: 1;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      white-space: nowrap;
  }







}